@page
@model EsperiaHelp.Pages.Teacher.IndexModel

@{
    ViewData["Title"] = "Index";
    
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lesson[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lesson[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lesson[0].EndTime)
            </th>
            <th>
                Classroom
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Lesson)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime.TimeOfDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime.TimeOfDay)
                </td>
                @foreach (var item2 in Model.Classroom)
                {
                
                    
                        @if (item.ClassroomId == item2.Id) {
                    <td>
                        @Html.DisplayFor(modelItem => item2.Name)
                    </td>
                        }
                }
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
         </tr>
        }
        

    </tbody>
</table>
