@page
@model EsperiaHelp.Pages.Teacher.DeleteModel

@{
    ViewData["Title"] = "Cancellazione";
}

<h1 class="text-danger">Vuoi davvero rimuovere questo corso?</h1>
<p>Tutti i partecipanti verranno informati</p>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Data
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lesson.Date)
        </dd>
        <dt class="col-sm-2">
            Inizio corso
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lesson.StartTime.TimeOfDay)
        </dd>
        <dt class="col-sm-2">
            Fine corso
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lesson.EndTime.TimeOfDay)
        </dd>
        <dt class="col-sm-2">
            N. partecipanti
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lesson.N_participants)
        </dd>
        <dt class="col-sm-2">
            Aula
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Classroom.Name)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Lesson.Id" />
        <a class="btn btn-danger"><i class="fa fa-remove" style="color: white;"></i></a> |
        <a asp-page="./Index">Torna ai tuoi corsi</a>
    </form>
</div>
