@page
@model EsperiaHelp.Pages.Teacher.DetailsModel

@{
    ViewData["Title"] = "Dettagli";
}

<h1 class="text-danger">Dettagli del corso</h1>>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Data
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lesson.Date)
        </dd>
        <dt class="col-sm-2">
            Inizio corso
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lesson.StartTime.TimeOfDay)
        </dd>
        <dt class="col-sm-2">
            Fine corso
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lesson.EndTime.TimeOfDay)
        </dd>
        <dt class="col-sm-2">
            N. partecipanti
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lesson.N_participants)
        </dd>
        <dt class="col-sm-2">
            Aula
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Classroom.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Lesson.Id" class="btn btn-warning"><i class="fa fa-pencil-square-o" style="color: white;"></i></a> |
    <a asp-page="./Index">Torna ai tuoi corsi</a>
</div>
